<nav>
    <div class="nav-container">
        <figure class="logo">
            <img src="/img/LogoDevPNG.png" alt="Logo">
        </figure>

        <label  class="nav-toggle">
            <input type="checkbox" name="" id="menu-input" class="nav-input">
        </label>
    
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="#hero">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">Sobre mi</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Proyectos</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
            </ul>
        </div>
</nav>