<nav>
    <div class="nav-container">
        <figure class="logo" (click)="goHome()">
            <img src="/img/LogoDevPNG.png" alt="Logo" >
        </figure>

        <label  class="nav-toggle">
            <input type="checkbox" name="" id="menu-input" class="nav-input">
        </label>
    
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" (click)="goHome()">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" (click)="goProjects()">Proyectos</a></li>
                <li class="nav-item"><a class="nav-link" (click)="goAbout()">Sobre mi</a></li>
                <li class="nav-item"><a class="nav-link" (click)="goContact()">Contacto</a></li>
            </ul>
        </div>
</nav>